on:
  push:
    branches: [master]
  pull_request:

name: CI

jobs:
  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt
      - name: Create blank versions of configured file
        run: echo -e "" >> src/config.rs
      - name: Run cargo fmt
        run: cargo fmt --all -- --check

  test:
    name: Tests
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/gtk-rs/gtk4-rs/gtk4:latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
    - name: Install dependencies
      run: sudo dnf --assumeyes install openssl-devel desktop-file-utils
    - name: Generate config.rs
      run: meson setup builddir --prefix=/usr
    - name: Build
      run: cargo build
    - name: Test
      run: xvfb-run --auto-servernum cargo test

  flatpak:
    name: Flatpak
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
    steps:
    - uses: actions/checkout@v6
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: cauldron.flatpak
        manifest-path: build-aux/it.dottorblaster.cauldron.Devel.json
        run-tests: true
        cache-key: flatpak-builder-${{ github.sha }}
